<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>IPAddress</servlet-name>
        <servlet-class>com.utility.IPAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateConversion</servlet-name>
        <servlet-class>com.utility.DateConversion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acceptfriend</servlet-name>
        <servlet-class>com.servlet.Acceptfriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBconnection</servlet-name>
        <servlet-class>com.Connection.DBconnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgotpass</servlet-name>
        <servlet-class>com.servlet.Forgotpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Friendrequest</servlet-name>
        <servlet-class>com.servlet.Friendrequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.servlet.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>com.servlet.Message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Postdelete</servlet-name>
        <servlet-class>com.servlet.Postdelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.servlet.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Searchuser</servlet-name>
        <servlet-class>com.servlet.Searchuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>com.servlet.controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller1</servlet-name>
        <servlet-class>com.servlet.controller1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller2</servlet-name>
        <servlet-class>com.servlet.controller2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Picupload2</servlet-name>
        <servlet-class>com.servlet.Picupload2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletefriendrequest</servlet-name>
        <servlet-class>Deletefriendrequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletefriend</servlet-name>
        <servlet-class>com.servlet.Deletefriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServ</servlet-name>
        <servlet-class>com.servlet.TestServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Messagedel</servlet-name>
        <servlet-class>com.servlet.Messagedel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pictureupload</servlet-name>
        <servlet-class>com.servlet.Pictureupload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IPAddress</servlet-name>
        <url-pattern>/IPAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateConversion</servlet-name>
        <url-pattern>/DateConversion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acceptfriend</servlet-name>
        <url-pattern>/Acceptfriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBconnection</servlet-name>
        <url-pattern>/DBconnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgotpass</servlet-name>
        <url-pattern>/Forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Friendrequest</servlet-name>
        <url-pattern>/Friendrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Postdelete</servlet-name>
        <url-pattern>/Postdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Searchuser</servlet-name>
        <url-pattern>/Searchuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller1</servlet-name>
        <url-pattern>/controller1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller2</servlet-name>
        <url-pattern>/controller2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Picupload2</servlet-name>
        <url-pattern>/Picupload2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletefriendrequest</servlet-name>
        <url-pattern>/Deletefriendrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletefriend</servlet-name>
        <url-pattern>/Deletefriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServ</servlet-name>
        <url-pattern>/TestServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Messagedel</servlet-name>
        <url-pattern>/Messagedel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pictureupload</servlet-name>
        <url-pattern>/Pictureupload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
